extends layout

block content
  div
    form(action='/login', method='post')
        input(type='hidden', name='next', value='#{next_url}' )
        input(type='text', name='username', placeholder='username' )
        input(type='password', name='password', placeholder='password' )
        input(type='submit',value='Login')
    